/*colors*/
@background: #232B2B; /* RGB 35 43 43 - space gray*/
@text_color_1: #41647B; /* RGB 65, 100, 123 - navy blue*/
@text_color_2: #323B45; /* RGB 59, 59 , 69 - navy blue dark*/
@active_text_color_1: #eea448; /*yellow*/

@search_button: #41647B; /* navy blue */
@search_button_hover: #eea448; /* yellow*/
@warning_orange:  #FFA500;

/* OER-AIMS SPECIFIC COLORS */
@green: #02774b; /* RGB 181 36 107 - purple haze*/
@navy_blue: #41647B; /* RGB 65, 100, 123 -navy blue */
@blue: #027096; /* RGB 59, 59 , 69 - navy blue dark*/
@light_raf: #C2D1E1; /* RGB 194, 209, 225 - light raf*/


/******************************************************/
/*				GENERAL & LANDING PAGE 				  */
/******************************************************/

/**
* Responsiveness
* Large - 992px w +
* Tablet - 768px w
* Mobile 1 - 480px w
* Mobile 2 - 320px w
*/

body{
	width:100%;
	margin:0 auto;
	font: 1em Open Sans, Arial, Helvetica, sans-serif; /* lighter */
	color:@text_color_1;
	background-color: rgba( 0, 0, 0, 0.05);

	.row{
		display: inline-block;
		width:100%;
	}
}

#header {
	background-image: url('../assets/images/gfsp_logo.png');
	min-height: 150px;
	max-width: 100%;
	min-width: 1000px;
	margin:0px auto;
	background-repeat: no-repeat;
	background-color: white;
	background-position: center;
	.rounded-corners(5px);
	box-shadow: 10px 0px 6px rgba(0, 0, 0, 0.2);

	/* tablet */
	@media all and (min-width: 480px) and (max-width: 768px) {
		/*
		  background-image: url('../assets/images/gfsp.png');
		  min-height: 100px;
		*/
		min-width: 100%;
	}
	/* mobile */
	@media all and (max-width: 480px) {
		background-image: url('../assets/images/gfsp_min_logo.png');
		min-height: 100px;
		min-width: 100%;
	}
}

#footer {
	min-height: 100px;
	max-width: 100%;
	min-width: 1000px;
	margin:0px auto;
	background-repeat: no-repeat;
	background-color: white;
	background-position: center;
	.rounded-corners(5px);
	box-shadow: 10px 0px 6px rgba(0, 0, 0, 0.2);

	/* tablet */
	@media all and (min-width: 480px) and (max-width: 768px) {
		min-height: 100px;
		min-width: 100%;
	}
	/* mobile */
	@media all and (max-width: 480px) {
		min-height: 100px;
		min-width: 100%;
	}
}

.breadcrumb {

	border-bottom: 1px solid @light_raf;
	margin: 0px 10px 10px 10px;

	a {
		text-decoration: none;
		color: @text_color_1;
		font-weight: bold;

		&:hover {
			text-decoration: underline;
		}
	}
}

#main_content {

	display:table;
	margin:0px auto 20px auto;
	padding:1em 0;

	/* screen */
	@media all {
		width:1010px;
	}

	/* tablet */
	@media all and (min-width: 480px) and (max-width: 768px) {
		width:95%;
		font-size: medium;
		padding:4px;

	}

	/* mobile */
	@media all and (max-width: 480px) {
		width:95%;
		font-size: medium;
		padding:4px;
	}
}

.landing_links{

	width: 700px;
	margin: 10px auto;
	text-align: center;
	display: table;
	.rounded-corners(10px);
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);

	h3 {
		font-weight: 300;
		font-size: 1.4em;
		margin: 0px 0px 5px 0px;
		color: white;
		background-color: @navy_blue;
		.rounded-corners-top(10px);
	}

	.no_link_4 {
		width:140px;
		height:50px;
		padding-top: 110px;
		float:left;
		margin: 15px;
		text-align: center;

		text-decoration: none;
		color: @navy_blue;
		background-repeat: no-repeat;
		background-position:top;

		&:hover {
			text-decoration: none;
		}
	}

	.link_3 {
		width:200px;
		height:50px;
		padding-top: 110px;
		float:left;
		margin: 15px;
		text-align: center;

		text-decoration: none;
		color: @navy_blue;
		background-repeat: no-repeat;
		background-position:top;

		&:hover {
			text-decoration: underline;
		}
	}

	.link_4 {
		width:140px;
		height:50px;
		padding-top: 110px;
		float:left;
		margin: 15px;
		text-align: center;

		text-decoration: none;
		color: @navy_blue;
		background-repeat: no-repeat;
		background-position:top;

		&:hover {
			text-decoration: underline;
		}
	}

	.training_course {
		background-image: url('../assets/images/training_course.png');
	}

	.open_educational {
		background-image: url('../assets/images/open_educational.png');
	}

	.publications {
		background-image: url('../assets/images/publications.png');
	}

	.stats {
		background-image: url('../assets/images/stats.png');
	}

	.food_security {
		background-image: url('../assets/images/food_security.png');
	}

	.foodborne {
		background-image: url('../assets/images/foodborne_disease.png');
	}

	.codex {
		background-image: url('../assets/images/codex_alimentarius.png');
	}

	/* PROVIDERS */

	.provider {
		width:145px;
		height:50px;
		padding-top: 110px;
		float:left;
		margin: 15px;
		text-align: center;

		text-decoration: none;
		color: @navy_blue;
		background-repeat: no-repeat;
		background-position:top;

	}

	.fskn {
		background-image: url('../assets/images/providers/fskn_gray.png');

		&:hover {
			background-image: url('../assets/images/providers/fskn.png');
		}
	}

	.ifpti {
		background-image: url('../assets/images/providers/ifpti_gray.png');

		&:hover {
			background-image: url('../assets/images/providers/ifpti.png');
		}
	}

	.ncfpd {
		background-image: url('../assets/images/providers/ncfpd_gray.png');

		&:hover {
			background-image: url('../assets/images/providers/ncfpd.png');
		}
	}

	.gma {
		background-image: url('../assets/images/providers/gma_gray.jpg');
		background-position: center;

		&:hover {
			background-image: url('../assets/images/providers/gma.jpg');
		}
	}

	.ifpri {
		background-image: url('../assets/images/providers/ifpri_gray.png');

		&:hover {
			background-image: url('../assets/images/providers/ifpri.png');
		}
	}

	.fao {
		background-image: url('../assets/images/providers/fao_gray.jpg');

		&:hover {
			background-image: url('../assets/images/providers/fao.jpg');
		}
	}

	.fao_stat {
		background-image: url('../assets/images/providers/fao_stat_gray.jpg');
		background-position:center center;

		&:hover {
			background-image: url('../assets/images/providers/fao_stat.jpg');
		}
	}

	.twb {
		background-image: url('../assets/images/providers/twb_gray.jpg');
		background-position:center center;

		&:hover {
			background-image: url('../assets/images/providers/twb.jpg');
		}
	}


}



/******************************************************/
/*					FUNCTIONS		 				  */
/******************************************************/

/*rounded corners function : 5px is default radius*/
.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

/*rounded corners function : 5px is default radius*/
.rounded-corners-top (@radius: 5px) {
  -webkit-border-top-right-radius: @radius;
  -moz-border-top-right-radius: @radius;
  -ms-border-top-right-radius: @radius;
  -o-border-top-right-radius: @radius;
  border-top-right-radius: @radius;

   -webkit-border-top-left-radius: @radius;
  -moz-border-top-left-radius: @radius;
  -ms-border-top-left-radius: @radius;
  -o-border-top-left-radius: @radius;
  border-top-left-radius: @radius;
}
