/*colors*/
@background: #232B2B; /* RGB 35 43 43 - space gray*/
@text_color_1: #41647B; /* RGB 65, 100, 123 - navy blue*/
@text_color_2: #323B45; /* RGB 59, 59 , 69 - navy blue dark*/
@active_text_color_1: #eea448; /*yellow*/

@search_button: #41647B; /* navy blue */
@search_button_hover: #eea448; /* yellow*/
@warning_orange:  #FFA500;

/* OER-AIMS SPECIFIC COLORS */
@green: #02774b; /* RGB 181 36 107 - purple haze*/
@navy_blue: #41647B; /* RGB 65, 100, 123 -navy blue */
@blue: #027096; /* RGB 59, 59 , 69 - navy blue dark*/
@light_raf: #C2D1E1; /* RGB 194, 209, 225 - light raf*/


/******************************************************/
/*				GENERAL & LANDING PAGE 				  */
/******************************************************/

/**
* Responsiveness
* Large - 992px w +
* Tablet - 768px w
* Mobile 1 - 480px w
* Mobile 2 - 320px w
*/

body{
	width:100%;
	margin:0 auto;
	font: 1.1em Open Sans,Arial,Helvetica,sans-serif; /* lighter */
	color:@text_color_1;

	.row{
		display: inline-block;
		width:100%;
	}
}

#header {
	background-image: url('../assets/images/gfsp.png');
	min-height: 150px;
	background-size: cover;
	max-width: 1010px;
	margin:0px auto;

	/* tablet */
	@media all and (min-width: 480px) and (max-width: 768px) {
		min-height: 100px;
	}
	/* mobile */
	@media all and (max-width: 480px) {
		background-image: url('../assets/images/gfsp_min.png');
		min-height: 100px;
	}
}


#main_content {

	display:table;
	margin:0px auto 20px auto;
	.rounded-corners(10px);
	padding:1em 0;
	border: 5px solid rgba(35, 43, 43, 0.1);
	background-color: white;

	/* screen */
	@media all {
		width:1010px;
	}

	/* tablet */
	@media all and (min-width: 480px) and (max-width: 768px) {
		width:95%;
		font-size: medium;
		padding:4px;

	}

	/* mobile */
	@media all and (max-width: 480px) {
		width:95%;
		font-size: medium;
		padding:4px;
	}
}

#landing_links{

	width: 500px;
	margin: 10px auto;

.training_course {
		width:200px;
		height:50px;
		padding-top: 150px;
		float:left;
		margin: 15px;
		text-align: center;

		text-decoration: none;
		color: @navy_blue;

		background-image: url('../assets/images/train.png');
		background-repeat: no-repeat;
		background-position:center;

		&:hover {
			background-image: url('../assets/images/train_hover.png');
		}

	}

	.educational_resources {
		width:200px;
		height:50px;
		padding-top: 150px;
		float:left;
		margin: 15px;
		text-align: center;

		text-decoration: none;
		color: @navy_blue;

		text-decoration: none;
		background-image: url('../assets/images/educ.png');
		background-repeat: no-repeat;
		background-position:center;

		&:hover {
			background-image: url('../assets/images/educ_hover.png');
		}
	}

}



/******************************************************/
/*					FUNCTIONS		 				  */
/******************************************************/

/*rounded corners function : 5px is default radius*/
.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}
